<header class="site-header" role="banner">
  <div class="wrapper header-content">
    <div class="header-flex">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title_short | escape }}</a>
      <ul class="social-media-list horizontal-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}
        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>