---
layout: default
---

<div class="home">
  <div id="life">
    <p>I build financial software with a focus on decentralised finance.</p>
    <ul class="timeline">
      <li>
        <span class="date">2026</span>
        <span class="desc">Liquidity &amp; Market Making at <a href="https://www.tokenisedgbp.com/">tGBP</a>.</span>
      </li>
      <li>
        <span class="date">2025-26</span>
        <span class="desc">Full-stack at
        <span class="company" style="letter-spacing: -0.2rem;">[ ■■■■ ]</span></span>
      </li>
      <li>
        <span class="date">2022-24</span>
        <span class="desc">Full-stack at
        <span class="company" style="letter-spacing: -0.2rem;">[ ■■■■ ]</span></span>
      </li>
      <li>
        <span class="date">2020-22</span>
        <span class="desc">Frontend + Design at <a href="https://mstable.org/">mStable</a>.</span>
      </li>
      <li>
        <span class="date">2020</span>
        <span class="desc">Frontend at <a href="https://superfluid.finance/">Superfluid</a>.</span>
      </li>
      <li>
        <span class="date">2020</span>
        <span class="desc">Hackathon Winner at <a href="https://github.com/Mindful-Cash/">ETHOnline</a>.</span>
      </li>
      <li>
        <span class="date">2019</span>
        <span class="desc">Mobile App Development at <a href="https://www.producthunt.com/products/donut-2/">Donut</a>.</span>
      </li>
      <li>
        <span class="date">2019</span>
        <span class="desc">Hackathon Winner at <a href="https://github.com/NeapolitanSwaps/CherrySwap">ETH Berlin Zwei</a>.</span>
      </li>
      <li>
        <span class="date">2017-19</span>
        <span class="desc">iOS App Development at an agency.</span>
      </li>
    </ul>
  </div>
</div>
