---
layout: default
---

<div class="home">
  <p class="lead">Hi, I'm Chris. I'm an app developer from the UK; Berlin living 🇩🇪</p>

  <ul id="apps">
    {% for app in site.apps %}
    <li>
      <a href="{{ app.permalink }}">
        <div>
          <img class="app-icon" src="assets/img/apps/icons/{{ app.icon }}.png" alt="{{app.title }} icon">
        </div>
        <div>
          <strong style="display:block">{{ app.title }}</strong>
          {{ app.description }}
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>

</div>