---
layout: default
---

<div class="home">

  <p class="lead">Hi, I'm Chris. From time to time, I come across something cool. This is where I dump that stuff. </p>

  <div class="post-archive">
    {% for post in site.posts %}
      {% assign currentYear = post.date | date: "%Y" %}
      {% if currentYear != date %}
        <h2 class="archive-year">{{ currentYear }}</h2>
        {% assign date = currentYear %}
      {% endif %}
        <div class="archive-item">
          <span class="post-date archive-date">{{ post.date | date: "%B %d" }}</span>
          <a href="{{ post.url }}">{{ post.title }}</a></div>
    {% endfor %}
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
